<!doctype html>
<head>
    <title>Football Radar</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<html>
   <body>
     <main>
        <div class="px-4 py-3 my-2 text-center">           
          </div>
        <form method="get" action="{{url_for('teams')}}">
            <div class="col-md-6 mx-auto text-center">
                <label for="name" class="form-label fw-bold fs-5">Select 2 Teams to Evaluate</label>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center align-items-center my-1">
                    <input type="text" class="form-control" id="team1" name="team1" style="max-width: 256px;">
                    <input type="text" class="form-control" id="team2" name="team2" style="max-width: 256px;">
                  </div>            
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center my-2">
                  <button type="submit" class="btn btn-primary btn-lg px-4 gap-3">Submit</button>
                </div>            
            </div>
        </form>
     </main>      
   </body>
</html>